<h1>Edit my profile...</h1>

<%=form_for @user,:url => user_path(@user), :html => { :multipart => true } do |f| %>
<%= f.file_field :photo %>
<br>
<%=f.label :fname %>
<%=f.text_field :fname %>
<%=f.label :lname %>
<%=f.text_field :lname %>
<br>
<%=f.label :email %>
<%=f.text_field :email %>
<br>
<%=f.label :password %>
<%=f.password_field :password %>
<br>
<%=f.label :password_confirmation %>
<%=f.password_field :password %>
<br>
<%=f.label :description %>
<%=f.text_field :description %>
<br>
<br>

<%=f.submit "Save Changes" %>
<% end %>