<h1>Sign Up</h1>
<p>Here's the thing... join us!</p>
<br>
<br>
<%=form_for @user,:url => {:action => "create"}, :html => { :multipart => true } do |f| %>
<%= f.file_field :photo %>
<br>
<%=f.label :fname %>
<%=f.text_field :fname %>
<%=f.label :lname %>
<%=f.text_field :lname %>
<br>
<%=f.label :email %>
<%=f.text_field :email %>
<br>
<%=f.label :password %>
<%=f.password_field :password %>
<br>
<%=f.label :password_confirmation %>
<%=f.password_field :password %>
<br>
<%=f.submit "Sign Up!" %>
<% end %>