
<div class="experience-right">
	
</div>
<br>
<br>
<br>
<%= image_tag @user.photo.url (:medium)%>
<br>


<br>
<br>
	<% if @user.id != current_user.id  %>
		<p>Click me to set a date</p>
		<h1><%=link_to @user.fname + " " + @user.lname, new_experience_path(user_id: @user.id, fname: @user.fname) %> </h1>	
		<% else %>
		<% if @user.id == current_user.id %>
			<h1><%= @user.fname + " " +@user.lname %></h1>
			<%=link_to "Edit My Profile", edit_user_path(current_user.id) %>
			|
			<%= link_to "Delete My Account", user_path(current_user), method: :delete, confirm: "Are you sure you want to delete your account?" %>
		<% end %>
				
	<% end -%>
	
<br>
<br>
<b>Here's my thing:</b>
<br>
<br>
<i><%= @user.description %></i>
<br>
<br>
<br>
<br>



