<h1>Your recent dates...</h1>

<% @experiences.each do |experience| %>

	Who: <%=experience.fname %> 
	<br>
	When: <%=experience.date.strftime("%b, %d, %Y") %>
	<br>
	Where: <%=experience.location %> 
	<br>
	Description: <%=experience.description %>
	<br>
	Created: <%= experience.created_at.strftime("%b, %d, %Y") %>
	<br>
	<br>
	<%= link_to experience.fname,  new_experience_survey_path(experience.id, :datee_id => experience.datee_id, :fname =>
				experience.fname) %>

<% end %>

<div class="experience-right">
	<% @users.each do |user| %>
		<br>
		
			
			<h1>
				<h1>
				<%= link_to user.fname, new_experience_path(user_id: user.id, fname: user.fname) %>
			</h1>
			
		<br>
		<% end -%>
</div>

<%=link_to "Save a New Date", new_experience_path %>

