<h1>Your recent dates, <%= current_user.fname%>...</h1>

<div class="row">

	<div class="span8 experience-left">
		<% @experiences.each do |experience| %>
		<br>
			<strong>Survey:</strong> <%= link_to experience.fname,  new_experience_survey_path(experience.id, :datee_id => experience.datee_id, :fname =>
				experience.fname) %>

		<br>
			<strong>When:</strong> <%=link_to experience.date.strftime("%b, %d, %Y"), experience_path(experience) %>
		<br>
			<strong>Where:</strong> <%=experience.location %> 
		<br>
			<strong>Description:</strong> <%=experience.description %>
		<br>
			<strong>Created:</strong> <%= experience.created_at.strftime("%b, %d, %Y") %>
		<br>
		<br>
			<strong>Survey results:</strong> <%= link_to  experience.fname,  experience_survey_path(experience.id, :id => experience.datee_id ) %>
		<hr>
		<% end %>
		<br>
	</div>

	<div class="span4 experience-right">
		<h4>Invite Your Date</h4>

		<div>
			<%=form_tag "/invite_user" do |f| %>
				<%=label_tag :email, "Email" %>
				<%=text_field_tag :email %>
				<%=submit_tag :submit %>
			<% end %>
		</div>
		<% i = 1 %>
		<% @users.each do |user| %>
		<% if !@experiences.where(:datee_id => i).first.nil?  %>
		
		<% if @experiences.where(:datee_id => i).first.datee_id == user.id  %>
			 
				<br>
				<%= image_tag user.photo.url (:small)%>
				<h4><%= link_to user.fname, new_experience_path(user_id: user.id, fname: user.fname) %></h4>
				<br>
				
			<% end -%>
			 
		<% end -%>
		 	 <% i += 1 %>
	<% end -%>

	</div>

</div>



