<h1>Save a New Date</h1>

<%=form_for [@experience] do |t| %>
	
	<%= hidden_field_tag(:user_id, params[:user_id]) %>

	<h2 class="date-fname">
	<%= label_tag( params[:fname]) %>  
	</h2>

	<br>
	<%=t.label(:date, "When?") %>  
	<%=t.date_field(:date) %>
	<br>
	<%=t.label(:location, "Where?") %>  
	<%=t.text_field(:location) %>
	<br>
	<%=t.label(:description, "Description:") %>  
	<%=t.text_area(:description) %>
	<br>
	<br>
	<%=t.submit :submit %>


<% end %>