<h1>Surveys</h1>


<%=form_tag experience_surveys_path(@experience), method: 'post' do %>
<p>At this moment, I am looking for:</p>
<br>
<br>
<%=radio_button_tag(:answer1, "Friendship") %>
<%=label_tag(:answer1, "Friendship") %>
<br>
<%=radio_button_tag(:answer1, "Hook-Up Only") %>
<%=label_tag(:answer1, "Hook-Up Only") %>
<br>
<%=radio_button_tag(:answer1, "Casual Dating") %>
<%=label_tag(:answer1, "Casual Dating") %>
<br>
<%=radio_button_tag(:answer1, "Exclusive Relationship") %>
<%=label_tag(:answer1, "Exclusive Relationship") %>
<br>
<br>

<p>With <%= @experience.datee.fname %>, I am looking for:</p>
<br>
<br> 
<%=radio_button_tag(:answer2, "Friendship") %>
<%=label_tag(:answer2, "Friendship") %>
<br>
<%=radio_button_tag(:answer2, "Hook-Up Only") %>
<%=label_tag(:answer2, "Hook-Up Only") %>
<br>
<%=radio_button_tag(:answer2, "Casual Dating") %>
<%=label_tag(:answer2, "Casual Dating") %>
<br>
<%=radio_button_tag(:answer2, "Exclusive Relationship") %>
<%=label_tag(:answer2, "Exclusive Relationship") %>
<br>
<br>
<%=submit_tag "Submit" %>
<% end %>