<h1>Surveys</h1>


<%=form_tag experience_surveys_path(@experience ), method: 'post' do %>


<p>With <%= @experience.fname  %>, I am looking for:</p>
<br>
<br> 
<%=radio_button_tag(:answer, 1) %>
<%=label_tag(:answer, "Friendship") %>
<br>
<%=radio_button_tag(:answer, 2) %>
<%=label_tag(:answer, "Hook-Up Only") %>
<br>
<%=radio_button_tag(:answer, 3) %>
<%=label_tag(:answer, "Casual Dating") %>
<br>
<%=radio_button_tag(:answer, 4) %>
<%=label_tag(:answer, "Exclusive Relationship") %>
<br>
<br>
<%= hidden_field_tag(:datee_id, @experience.datee_id) %>
<%=submit_tag "Submit" %>
<% end %>

