<h1>Surveys#show</h1>

<% @experiences.each do  |experience| %>
	Who: <%=experience.fname %> 
	<br>
	
	<br>
	Where: <%=experience.location %> 
	<br>
	Description: <%=experience.description %>
	<br>
	Created: <%=distance_of_time_in_words(Time.now, experience.created_at) %>
	<br>
	<br>
<% end -%>

<%= @survey.answer %>

