<!DOCTYPE html>
<html>
<head>
  <title>Here's the thing...</title>

  <link href='http://fonts.googleapis.com/css?family=Amatic+SC:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap.min.css">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>


  <div class="container">

    <h1 class="span12 pagination-centered">
      <a id="title" href="/">Here's the thing...</a>
    </h1>

    <nav class="navbar span12 pagination-centered" role="navigation">

        <div>
          <% if flash[:notice] %>
            <div class="alert alert-success">
              <%=flash[:notice] if flash[:notice] %>
            </div>
          <% end %>
        
          <% if flash[:alert] %>
            <div class="alert alert-danger">
              <%=flash[:alert] if flash[:alert] %>
            </div>
          <% end%> 
        </div>

        <div class="navbar-inner">

          <ul class="nav">
            <li class="active">
              <a href="/">Home</a>
            </li>
            <% if current_user != nil %>
            <li class="active">
              <a href="/experiences">Experiences</a>
            </li>
            <% end -%>  
            <li class="active">
              <a href="/users.id/<%= current_user %>">All Users</a>
            </li>
            
            <% if current_user == nil %>
              <li class="active"><a href="/log-in">Log in</a></li>
              <li class="active"><a href="/users/new">Sign up</a></li>
            <% end -%>
            <% if current_user != nil %>
              <li class="active"><a href="/users/<%=current_user.id%>">My Profile</a></li>
              <li class="active"><a href="/log-out">Log out</a></li>
            <% end -%>
          </ul>
        </div><!-- end .navbar-inner -->
    </nav> 



  <div class="span12 pagination-centered">
    <%= yield %>
  </div>

  </div>



<script src="//railsgirls.com/assets/bootstrap.js"></script>

<script>
  $(document).ready(function(){
    $("#title").hover(function(){
      $("#title").css("color","#ff2d51");  
    },function(){
      $("#title").css("color","#0088cc"); 
    });
  });
</script>

</body>
</html>